<div>
  <h2>Personal Information</h2>
  <p><b>Name:</b> {{name}}</p>
  <p><b>Birthdate:</b> {{birthdate}}</p>
  <p><b>Birthplace:</b> {{birthplace}}</p>
  <p><b>Deathdate:</b> {{deathdate}}</p>
  <p><b>Deathplace:</b> {{deathplace}}</p>
  <p><b>Nationality:</b> {{nationality}}</p>
</div>
<br>
<hr>
<br>
<div>
  <h2>Occupation</h2>
  <p>{{occupation}}</p>
</div>
<br>
<hr>
<br>
<div>
  <h2>Known For</h2>
  <ul>
    {{#each known_for}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
<br>
<hr>
<br>
<div>
  <h2>Education</h2>
  {{#each education}}
  <p><b>Degree:</b> {{degree}}</p>
  <p><b>Field:</b> {{field}}</p>
  <p><b>Institution:</b> {{institution}}</p>
  <p><b>Year:</b> {{year}}</p>
  {{/each}}
</div>
<br>
<hr>
<br>
<div>
  <h2>Notable Publications</h2>
  <ul>
    {{#each notable_publications}}
    <li>
      <b>Title:</b> {{title}}<br>
      <b>Year:</b> {{year}}<br>
      <b>Publisher:</b> {{publisher}}
    </li>
    {{/each}}
  </ul>
</div>
<br>
<hr>
<br>
<div>
  <h2>Partners</h2>
  <ul>
    {{#each partners}}
    <li>
      <b>Name:</b> {{name}}<br>
      <b>Relationship:</b> {{relationship}}<br>
      <b>Years:</b> {{years}}
    </li>
    {{/each}}
  </ul>
</div>
<br>
<hr>
<br>
<div>
  <h2>Awards</h2>
  <ul>
    {{#each awards}}
    <li>
      <b>Title:</b> {{title}}<br>
      <b>Year:</b> {{year}}<br>
      <b>Description:</b> {{description}}
    </li>
    {{/each}}
  </ul>
</div>
<br>
<hr>
<br>
<div>
  <h2>Influences</h2>
  <ul>
    {{#each influences}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
<br>
<hr>
<br>
<div>
  <h2>Influenced</h2>
  <ul>
    {{#each influenced}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
<br>
<hr>
<br>

<div>
  <h2>Quotes</h2>
  <ul>
    {{#each quotes}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
<br>
<hr>
<br>

<div>
  <h2>Major Discoveries</h2>
  <ul>
    {{#each major_discoveries}}
    <li>
      <b>Title:</b> {{title}}<br>
      <b>Year:</b> {{year}}<br>
      <b>Description:</b> {{description}}
    </li>
    {{/each}}
  </ul>
</div>
<br>
<hr>
<br>

<div>
  <h2>Contributions</h2>
  <p><b>Title:</b> {{contributions.title}}</p>
  <p><b>Description:</b> {{contributions.description}}</p>
  <p><b>Year:</b> {{contributions.year}}</p>
  <p><b>Field:</b> {{contributions.field}}</p>
</div>
