<div style="padding: 20px;">   
    <div class="text-center">
      <h1>{{page_header.title}}</h1>
      <p class="text-uppercase">{{page_header.description}}</p>
    </div>
    <br>

    <div class="card" style="padding: 10px;">
  <p class="display-6 text-end">{{section.about_us.title_list.main}}</p>
  <div>
    <h2 class=" text-end">{{section.about_us.title_list.sub}}</h2>
  </div>
  <br>
    <div>
  <button type="button" class="btn btn-outline-info">{{section.about_us.button.text}}</button>
  <br>
  </div>
  </div>
  <br>
<div class="card" style="padding: 10px;">

  
    
    
      <p class="display-5">{{section.advantage.title}}</p>
    <div class="card">
    <div class="card-body">  
        <p class="display-4">{{section.advantage.efficiency.title}}<p>
        <h6>{{section.advantage.efficiency.sub_title}}</h6>
        <p>{{section.advantage.efficiency.description}}</p>

        <button type="button" class="btn btn-outline-warning">{{section.advantage.efficiency.button}}</button>
    </div>
    </div>
    <br>

      <div class="card" style="padding: 10px;">
      <div class="card-body">
        <p class="display-4 text-center">{{section.advantage.innovation.title}}</p>
        
        <h6 class="text-center">{{section.advantage.innovation.sub_title}}</h6>
      <br>
        <p class="text-center">{{section.advantage.innovation.description}}</p>
        
                <button type="button" class="btn btn-outline-warning">{{section.advantage.innovation.button}}</button>
      </div>
      </div>
      <br>


      <div class="card" style="padding: 10px;">
      <div class="card-body">
        <p class="display-4 text-end">{{section.advantage.collaboration.title}}<p>
        <h6 class="text-end">{{section.advantage.collaboration.sub_title}}</h6>
        <br>
        <p class="text-end">{{section.advantage.collaboration.description}}</p>
        
        <button type="button" class="btn btn-outline-warning">{{section.advantage.collaboration.button}}</button>
      </div>
      </div>
</div>
</div>

<div style="padding: 20px;">

    <div class="card" style="padding: 10px;">

      <p class="display-5">{{section.agreement.title}}</p>

      <div class="card" style="padding: 10px;">
      <div class="info">
        <h5>{{section.agreement.info.sub_title}}</h5>

      <div class="card" style="padding: 10px;">
      <div class="card-body">

        <p>{{section.agreement.info.detail.text}}</p>
        
        <button type="button" class="btn btn-success">{{section.agreement.info.detail.button}}</button>
      </div>
      </div>
      </div>
      </div>
    </div>
</div>