<div class="row">
  {{#each purchase.itemList}}
  <div class="col-3">
    <p>{{number}}</p>
    <p>{{status}}</p>
  </div>
  <div class="col-3">
   <p>{{amount.title}}:<br> {{amount.value}}</p>
  </div>
  <div class="col-4">
    <img class="item-image" src="{{images.[0]}}">
  </div>
  <div class="col-2">
    <a class="btn btn-primary" href="{{button.link}}">{{button.text}}</a>
  </div>

  <hr class="my-3">
  {{/each}}